
table, th, td{
  border: 1px solid;
}

table {
   width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
}

td, th{
  padding: 10px;
}

tr:nth-child(even){
  background-color: #dce2d8;
}

th{
  background-color: rgb(160, 196, 168);
}

tfoot{
  background-color: rgb(160, 196, 168);
}

